/* ****************************** 
*** Body image 
 ****************************** */

body{
    background-image: url("https://t4.ftcdn.net/jpg/04/17/89/93/360_F_417899352_9JpbvlWx6BLTlFP86u4dqDUSsQTawrJv.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

/* *************************************
** Heading 
************************************* */

h1{
    text-align: center;
    color: rgb(238, 255, 0);
    text-shadow: 2px 2px 8px yellow;
    margin: 50px auto;
}

/* *************************************
** Questions 
************************************* */

#question{
    width: 60%;
    padding: 30px;
    border: 3px solid blue;
    background-color: royalblue;
    color: white;
    font-size: 28px;
    margin: 30px auto;
    border-radius: 60px;
    box-shadow: 2px 2px 10px wheat;
    text-align: center;
}

/* *************************************
** Answers
************************************* */

#answer {
    width: 50%;
    margin: 10px auto;
    color: white;
    border: 3px  solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 60px;
    box-shadow: 2px 2px 20px yellow;
}
#answer ul{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}
#answer ul li{
    width: 40%;
    height: auto;
    background-color: black;
    border: 3px solid yellow;
    padding-top: 15px;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
    border-radius: 50px;
    box-shadow: 6px 4px 30px white;
    cursor: pointer;
}
#answer:hover li {
    
    background:  blue;
}
/* *************************************
** Score Board
************************************* */

#scores{
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 50px auto;
    border-radius: 60px;
}
#player1, #player2, #reset{
    width: 40%;
    background-color: black;
    box-shadow: 6px 4px 30px yellow;
    color: white;
    margin: 5px;
    text-align: center;
    border-radius: 60px;
    border: 3px solid white;
}


/* *************************
** Media Query
*************************** */

@media (max-width: 600px) {
    #scores{
        width: 80%;
    }
    #answer ul li{
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        height: auto;
       margin-right: 30px;
       font-size: 10px;
       text-align: center;
       padding: 5px 25px;
       
    }
    #answer {
        display: flex;
        width: auto;
        
    }
    body{
        background-position: center;
    }
    
  }


